.menu-layout-3 .nav-side-menu {
	background-color: white;
	overflow: auto;
	font-weight: 200;
	position: fixed;
	z-index: 999;
	width: 220px;
	height: calc(100% - 60px);
	color: #c0bbb7;
	font-size: 13px;
}
.ui-icon-portal {
	background-image: url("/res/img/menu/mobis/img_portal.png") !important;
	background-position: 10px 14px;
	background-repeat:  no-repeat;
}
.ui-icon-stat {
	background-image: url("/res/img/menu/mobis/icon_left_statistics.png") !important;
	background-position: 10px 14px;
	background-repeat:  no-repeat;
}
.ui-icon-stat:hover {
	background-image: url("/res/img/menu/mobis/icon_left_statistics.png") !important;
}
.ui-icon-portal:hover {
	background-image: url("/res/img/menu/mobis/img_portal_ov.png") !important;
}

.ui-icon-cloud {
	background-image: url("/res/img/menu/mobis/img_cloud.png") !important;
	background-position: 10px 14px;
	background-repeat:  no-repeat;
}

.ui-icon-cloud:hover {
	background-image: url("/res/img/menu/mobis/img_cloud_ov.png") !important;
}

.ui-icon-approval {
	background-image: url("/res/img/menu/mobis/img_approval.png") !important;
	background-position: 10px 14px;
	background-repeat:  no-repeat;
}

.ui-icon-approval:hover {
	background-image: url("/res/img/menu/mobis/img_approval_ov.png") !important;
}

.ui-icon-monitor {
	background-image: url("/res/img/menu/mobis/img_monitor.png") !important;
	background-position: 10px 14px;
	background-repeat:  no-repeat;
}

.ui-icon-monitor:hover {
	background-image: url("/res/img/menu/mobis/img_monitor_ov.png") !important;
}


.ui-icon-noti {
	background-image: url("/res/img/menu/mobis/img_noti.png") !important;
	background-position: 10px 14px;
	background-repeat:  no-repeat;
}

.ui-icon-noti:hover {
	background-image: url("/res/img/menu/mobis/img_noti_ov.png") !important;
}


.ui-icon-systemmng {
	background-image: url("/res/img/menu/mobis/img_system.png") !important;
	background-position: 10px 14px;
	background-repeat:  no-repeat;
}

.ui-icon-systemmng:hover {
	background-image: url("/res/img/menu/mobis/img_system_ov.png") !important;
}

.menuFooter{
    height: 126px;
    width: 220px;
    position: fixed;
    bottom: 0px;
    border-top: 1px solid #ddd;
    background: #fff;
    color: black;
    text-align: left;
    padding: 10px;
    font-size:11px;
}
.menuFooter span{
    font-size: 15px;
    background-image: url(/res/img/menu/mobis/icon_call.png) !important;
    background-position: 2px 1px;
    background-repeat: no-repeat;
    padding-left: 30px;
}
.menuFooter div{
    margin-top: 5px;
}
.menuFooter div > i:before {
  	font-family: FontAwesome;
    content: "\f05a";
    padding-right: 5px;
    padding-left: 5px;
    color: green;
}
body {
	background-color:#eef1f6;
}
#ribbon{
	background: #eef1f6;
	min-height: 70px;
}
#ribbon h4 {
    display: inline-block;
    margin-left: 5px;
    margin-top: 27px;
    line-height: 24px;
    font-weight: bold;
    font-size: 23px;
}
#ribbon .breadcrumb{
    padding: 27px 34px 11px 0!important;
}
#topbar {
    border-bottom: 2px solid #ddd;
    height: 65px;
    min-width: 820px;
}
.tree.sub-menu.favorites{
	display:block;
    font-weight: bold;
    font-size: 15px;
}
.tree.sub-menu.favorites span{
   	padding-left: 30px;
    color: #99999999;
}
.tree.sub-menu.favorites span:hover{
    color: #012989;
}
.tree.sub-menu.favorites .active{
    color: #012989;
}
