#macro(defaultValue $parm)  
#if (!$parm )  
-
#else  
$parm  
#end  
#end 
<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>메일 발송</title>
</head>
<body>
	<div class="main" style="border-color: #bbbbbb;	border: none;	background-color: #f5f6fa;	font-family: 'MalgunGothic',sans-serif, arial;	width: 100%; padding-bottom: 70px;">
		<!-- 전체 div -->
		<table class="bg_top" height="50" style="width: 100%; margin-right: 0px;">
		<tr style="background-color: #3c404a;">
				<td class="main_title" colspan='2' style="font-size: 14px;padding: 17px; color: #ffffff; padding-left: 30px; font-weight: bold; border-collapse: collapse" > SK hynix ITAP</td>
		</tr>
		<tr style="height: 80px;    background-color: #f5f6fa;">
			<td style="float: left; padding: 30px; padding-top: 35px; color: #3c404a; font-size: 18px; font-weight: 900;border-collapse: collapse">${mail_title} 안내메일</td>
			<td><img src="${domain}res/img/hynix/logo.png" width: 124px; height: 40px;  style="float: right; margin-top: 20px;  margin-right: 30px;border-collapse: collapse"></td>
		</tr>
		<tr style="background-color: #f5f6fa;"><td style="border-collapse: collapse; padding-left:10px;">