
	#set( $mail_title = "요청 결과 안내" )
	#parse( "/mail_template/_include_header.vm" )
	<div  style="line-height: 40px;	padding-top: 35px;	padding-bottom: 35px;">
				<div style="font-size: 23px;	color: #000000;	font-weight: bold;	text-align: center;">$USER_NAME님, 안녕하세요</div>
				<div style="font-size: 23px;	color: #000000;	font-weight: bold;	text-align: center;">요청하신 처리 결과 입니다.</div>
			</div>
	 <br /><br />
	 <div style="text-align: center;">
	 
			<table style="border-top: 2px solid #626262;	margin-left: 50px;	border-collapse: collapse;">
			 
				
				<tr>
					<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
		background-color: #eeeeee;	border-color: #d2d2d2;	width: 150px;	height: 30px;	border-right: 0px;	text-align : left;	padding-left: 10px;">서버</th>
					<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
		background-color: #ffffff;	border-color: #e0e0e0;	width: 510px;    text-align: left;	padding-left: 10px;">$VM_NM</td>
				</tr>
				<tr>
					<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
		background-color: #eeeeee;	border-color: #d2d2d2;	width: 150px;	height: 30px;	border-right: 0px;	text-align : left;	padding-left: 10px;">서버 IP</th>
					<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
		background-color: #ffffff;	border-color: #e0e0e0;	width: 510px;    text-align: left;	padding-left: 10px;">$SERVER_IP</td>
				</tr>
				<tr>
					<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
						background-color: #eeeeee;	border-color: #d2d2d2;	width: 150px;	height: 30px;	border-right: 0px;	text-align : left;	padding-left: 10px;">요청구분</th>
					<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
						background-color: #ffffff;	border-color: #e0e0e0;	width: 510px;    text-align: left;	padding-left: 10px;">$CUD_CD_NM</td>
				</tr> 
				#if($TASK_STATUS_CD != "D")
				#if($VM_USER_YN == "Y")
				<tr>
					<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
		background-color: #eeeeee;	border-color: #d2d2d2;	width: 150px;	height: 30px;	border-right: 0px;	text-align : left;	padding-left: 10px;">계정 아이디</th>
					<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
		background-color: #ffffff;	border-color: #e0e0e0;	width: 510px;    text-align: left;	padding-left: 10px;">$LOGIN_ID</td>
				</tr>
				 
				 
				
			   
						<tr>
							<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
				background-color: #eeeeee;	border-color: #d2d2d2;	width: 150px;	height: 30px;	border-right: 0px;	text-align : left;	padding-left: 10px;">초기 비밀번호</th>
							<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
				background-color: #ffffff;	border-color: #e0e0e0;	width: 510px;    text-align: left;	padding-left: 10px;">P@ssw0rd
						<div style="font-size:11px;color:red;float:right">※ 최초 로그인 시 반드시 패스워드를 변경 후 사용하시기 바랍니다.</div> </td>
						</tr>
					
				
				<tr>
					<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
		background-color: #eeeeee;	border-color: #d2d2d2;	width: 150px;	height: 30px;	border-right: 0px;	text-align : left;	padding-left: 10px;">설치 계정</th>
					<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
		background-color: #ffffff;	border-color: #e0e0e0;	width: 510px;    text-align: left;	padding-left: 10px;">vmadmin/VMware1!</td>
				</tr>	
				#end
			<tr>
	            <th style="border-bottom: 1px solid gray;   border-top: 0px solid white; font-size: 15px;   color: #000000;   font-weight: bold;
	               background-color: #eeeeee;   border-color: #d2d2d2;   width: 150px;   height: 30px;   border-right: 0px;   text-align : left;   padding-left: 10px;">사용자 IP</th>
	            <td style="border-bottom: 1px solid gray;   border-top: 0px solid white;font-size: 15px;   color: #2f2a79;   font-weight: bold;
	               background-color: #ffffff;   border-color: #e0e0e0;   width: 510px;    text-align: left;   padding-left: 10px;">$CIDR</td>
	         </tr> 
	         <tr>
	            <th style="border-bottom: 1px solid gray;   border-top: 0px solid white; font-size: 15px;   color: #000000;   font-weight: bold;
	               background-color: #eeeeee;   border-color: #d2d2d2;   width: 150px;   height: 30px;   border-right: 0px;   text-align : left;   padding-left: 10px;">Port</th>
	            <td style="border-bottom: 1px solid gray;   border-top: 0px solid white;font-size: 15px;   color: #2f2a79;   font-weight: bold;
	               background-color: #ffffff;   border-color: #e0e0e0;   width: 510px;    text-align: left;   padding-left: 10px;">$PORT</td>
	         </tr>   
			 #end
			#if ($TASK_STATUS_CD == "D")
						<tr>
							<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
				background-color: #eeeeee;	border-color: #d2d2d2;	width: 150px;	height: 30px;	border-right: 0px;	text-align : left;	padding-left: 10px;">거부 사유</th>
							<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: red;	font-weight: bold;
				background-color: #ffffff;	border-color: #e0e0e0;	width: 510px;    text-align: left;	padding-left: 10px;">$FAIL_MSG</td>
						</tr>
			#end				
			</table>
	</div> 
	#parse( "/mail_template/_include_footer.vm" )
 
	     