#set( $mail_title = "네트웍 처리 결과" )

<div  style="line-height: 40px;	padding-top: 35px;	padding-bottom: 35px;">
			<div style="font-size: 23px;	color: #000000;	font-weight: bold;	text-align: center;">$USER_NAME님, 안녕하세요</div>
			<div style="font-size: 23px;	color: #000000;	font-weight: bold;	text-align: center;">요청하신 네트웍 처리 결과 입니다.</div>
</div>
 <div style="text-align: center;">
 
		<table style="border-top: 2px solid #626262; margin-left:50px;  border-collapse: collapse; width:88%"">
		<tr>
				<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
	background-color: #eeeeee;	border-color: #d2d2d2;	 	height: 30px;	border-right: 0px;	text-align : center;"	colspan="2" >요청정보</th>
		</tr>
		
		<tr>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	  text-align: center; ">시작IP</td>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	  text-align: center; ">$START_IP</td>
			</tr>
		<tr>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	  text-align: center; ">데이터센터</td>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	  text-align: center; ">$DC_NM</td>
			</tr>
		<tr>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	  text-align: center; ">대상시작IP</td>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	  text-align: center; ">$TRG_START_IP</td>
			</tr>
		<tr>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	  text-align: center; ">대상 데이터센터</td>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	  text-align: center; ">$TRG_DC_NM</td>
			</tr>
		<tr>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	  text-align: center; ">작업 결과</td>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	  text-align: center; ">$TASK_STATUS_CD_NM</td>
			</tr>
	#if ($FAIL_MSG != "")
		<tr>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	  text-align: center; ">실패 메시지</td>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	  text-align: center; ">$FAIL_MSG</td>
			</tr>
    #end
		 
		</table>
</div> 

#parse( "/mail_template/_include_footer.vm" )
 