.links line {
  stroke: #aaa;
}
.links line.selected {
  stroke-width: 2px;
  stroke: blue;
}
.nodes text
{
	font-size:12px;
}
.nodes.selected text{
font-size : 14px;
font-weight: bold;
}
.nodes circle {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
}