.useHistoryTotalForm .table_label {
	text-align: center;
	vertical-align: text-top;
	padding-top: 20px;

	background-repeat: no-repeat;
	background-position: center 50px;
}

.useHistoryTotalForm .table_label.label_server {
	background-image: url('/res/img/img_server.png');
}

.useHistoryTotalForm .table_label.label_disk {
	background-image: url('/res/img/img_disk.png');
}

.useHistoryTotalForm .table_label.label_ip {
	background-image: url('/res/img/img_ip.png');
}

.useHistoryTotalForm .table_label.label_img {
	background-image: url('/res/img/img_images.png');
}

.useHistoryTotalForm .table_label.label_fee {
	background-image: url('/res/img/img_fee.png');
}


.useHistoryTotalForm   tr, .useHistoryTotalForm   td {
    border: none !important;
    border-bottom: 1px solid #e0e0e0 !important;
}  
.num 
{ 
	font-size : 40px !important ;
	font-weight : bold;
	text-align : center;
}
.unit
{
	font-size : 13px;
}
.useHistoryTotalForm td.table_label {
    font-size: 13px !important;
    color: #333333;
    word-spacing: -50;
    background-color: #f8f8f8;
}
.useHistoryTotalForm  
{
	clear: both;
    width: 100%;
    background-color: #ffffff;
}