body {
    background-color: #f5f6fa;
    height: auto;
    overflow-x: hidden;
}
.menu-layout-3 .nav-side-menu {
	background-color: #2e3339;
	overflow: auto;
	font-weight: 200;
	position: fixed;
	z-index: 999;
	width: 256px;
	height: calc(100%);
	color: #c0bbb7;
	font-size: 13px;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}
#ribbon {
    min-height: 120px;
    padding: 0px 30px;
    position: relative;
    background-color: #f5f6fa;
    height: 50px;
    width: 100%;
    margin: 0 auto;
}
.userNameInfo {
    display: inline-block;
    position: relative;
    top: 6px;
    font-size: 12px;
    font-weight: 900;
    float: right;
}
.myinfo {
    display: inline-block;
    height: auto;
    position: relative;
    top: 5px;
    margin-right: 10px;
}
.myTask {
	display: inline-block;
    height: auto;
    position: relative;
    top: 5px;
    cursor: pointer;
    float: right;
}
.myinfo img{
	cursor: pointer;
	width: 32px;
    height: 32px;
}
.mylogout img{
   	cursor: pointer;
}
.topRightMenu {
    display: inline-block;
    min-width: 50px;
    width: 50px;
    height: 50px;
    background-color: #595c65;
    border-radius: 0;
    background-repeat: no-repeat;
    text-align: center;
    background-position: 10px;
    margin: 0px;
    border: 1px solid #424650 !important;
    margin-left: -5px;
    position: relative;
}
.menu-btn{
	background-image: url(/res/img/hynix/menu.png); 
	background-color: #757984;
}
.req-btn{
	background-image: url(/res/img/hynix/payment.png); 
}
.qna-btn {
    background-image: url(/res/img/hynix/qa.png);
}
.qna-btn .qa{
	width: 29px;
    height: 14px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    position: relative;
    top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: NanumSquareRoundB;
}
.circle {
    line-height: 12px;
    border: 0px solid gray;
    font-size: 13px;
    padding-top: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #e60724;
    color: white;
    display: inline-block;
    float: right;
    position: absolute;
    top: 2px;
}
.userInfo {
    line-height: 60px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    position: relative;
    height: 50px;
    right: 0px;
    top: 15px;
    width: 250px;
}
.fa.fa-caret-dow:before{
	content: "\25BC";
	margin-left: 14px;
}
.iconfinder_nav-arrow-right_383100:before{
	width: 9px;
    height: 16px;
    content: "\f104";
    display: inline-block;
    font-family: FontAwesome;
    position: relative;
    top: 7px;
    left: 41px;
    font-size: 21px;
    z-index: 10;
    color: #666666;
}
.logoutImg{
	width: 32px;
    height: 32px;
    border-radius: 14px;
    background-image: url(/res/img/icon_logout.png) !important;
    display: inline-block;
    position: relative;
    top: 15px;
    left: -47px;
}
#searchbar{
	display: inline-block;
    width: 18%;
    height: 30px;
    position: relative;
    top: -10px;
    left: 20%;
}
#searchbar #search_value{
	height: 30px ;
	width: 100%;
    border: solid 1px #dddddd;
    padding-left: 20px;
    border-right-color: white !important;
}
#searchbar button{
	margin-left: -3px;
    width: 60px;
    height: 30px !important;
    background: white;
    border-color: white !important;
}
#searchbar .fa .fa-search:before{
	content: "\f002";
    width: 20px;
    height: 20px;
    font-size: 21px;
    color: #42a7f2;
}
#userInfo .team {
	color: #3c404a;
}
#userInfo .user_name {
	color: #3c404a;
}

#ribbon h4 {
    margin-left: 0px;
    line-height: 41px;
    padding: 0px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 5px;
    color: #3c404a;
    display: block;
    clear: both;
}
#ribbon h6 {
    margin-left: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 12px;
    font-family: 'MalgunGothic', 'NanumSquareRound', sans-serif;
    margin-top: 0px;
    margin: 0px;
    color: #a4a7a9;
}
.breadcrumb:before {
    content: url(/res/img/hynix/home.png);
    position: relative;
    top: 6px;
    left: -7px;
}
#ribbon .breadcrumb {
	display: inline-block;
	margin: 0;
	padding: 23px 34px 11px 0!important;
	background: 0 0;
	vertical-align: top;
	float: right;
	font-size: 12px;
	line-height: 24px;
}
.menu-layout-3 .main {
    background: #f5f6fa;
    margin-left: 0px;
    width: calc(100% - 257px);
    display: inline-block;
    height: 100%;
    margin-bottom: 113px;
}
#topbar {
    background: #3c404a;
    top: 80px;
}
#topbar {
	min-width:1200px;
}

#topbar .topbar-ci {
    width: 250px;
	height: 50px;
}

.content-body{
    min-width: 1280px;
    width: 95%;
    margin: 0 auto;
    margin-top: 130px;
    position: relative;
    height: 100%;
    min-height: 805px;
}

 .logout {
    width: 142px;
    height: 48px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #dddddd;
    background-color: #ffffff;
    border-radius: 40px;
    position: relative;
    top: 5px;
    font-size: 14px;
    text-align: left;
    padding-left: 35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #666666;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f107";
  display: inline-block;
  padding-left: 10px;
  padding-right: 25px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu li.active > .sub-menu > li.leaf.active > a > span{
	border-bottom:none;
}
.menu_level_1{
	border-top: none;
}
.nav-side-menu .sub-menu li > a{
	color:white;
}
.nav-side-menu .sub-menu li.leaf > a{
	color:white;
}
.nav-side-menu .sub-menu li:hover > a{
	color:white;
}
.nav-side-menu li {
	border-bottom: none;
	line-height: 53px;
}
.nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li{
	line-height: 45px;
    background: #2e3339;
}
.nav-side-menu ul.active > .sub-menu > li.no-active, .nav-side-menu li.active > .sub-menu > li.no-active{
    background: #2e3339;
}
.nav-side-menu .sub-menu li.leaf > a{
    background: #2e3339;
}
.nav-side-menu li.active.ui-icon-portal > a :first-child{
	color : white;
}
.nav-side-menu li.active.ui-icon-cloud > a :first-child{
	color : white;
}
.nav-side-menu li.active.ui-icon-approval > a :first-child{
	color : white;
}
.nav-side-menu li.active.ui-icon-monitor > a :first-child{
	color : white;
}
.nav-side-menu li.active.ui-icon-noti > a :first-child{
	color : white;
}
.nav-side-menu li.active.ui-icon-portal{
	background-color: #545c65;
}
.nav-side-menu li.active.ui-icon-cloud{
	background-color: #545c65;
}
.nav-side-menu li.active.ui-icon-approval{
	background-color: #545c65;
}
.nav-side-menu li.active.ui-icon-monitor{
	background-color: #545c65;
}
.nav-side-menu li.active.ui-icon-noti{
	background-color: #545c65;
}
.nav-side-menu ul.active > .sub-menu > li.leaf.active > a, .nav-side-menu li.active > .sub-menu > li.leaf.active > a{
    background: #545c65;
	color : white;
}
.nav-side-menu li.active > .sub-menu > li.active.leaf{
	background:  #545c65;
}
.nav-side-menu li a {
  text-decoration: none;
  color:white;
  font-size: 15px;
  font-weight: 500;
}
.nav-side-menu ul.active > .sub-menu > li.active > a, .nav-side-menu li.active > .sub-menu > li.active > a{
	color:white;
}
.nav-side-menu a:focus, .nav-side-menu a:hover{
	color: white !important;
}

.ui-NewServer{
	background-image: url("/res/img/hynix/newHynix/menuIcon/vector-smart-object.png") !important;
	background-position: 30px 17px;
	background-repeat:  no-repeat;
	border-bottom: 1px solid #545c65;
}

.ui-onAndOff{
	background-image: url("/res/img/hynix/newHynix/menuIcon/shape-38.png") !important;
	background-position: 30px 14px;
	background-repeat:  no-repeat;
	border-bottom: 1px solid #545c65;
}
.ui-icon-portal {
	background-image: url("/res/img/hynix/newHynix/menuIcon/vector-smart-portal.png") !important;
	background-position: 30px 14px;
	background-repeat:  no-repeat;
}
.ui-icon-portal:hover  {
	background-image: url("/res/img/hynix/newHynix/menuIcon/vector-smart-portal.png") !important;
	background-position: 30px 14px;
	background-repeat:  no-repeat;
}

.ui-icon-stat {
	background-image: url("/res/img/hynix/newHynix/menuIcon/vector-smart-deploy.png") !important;
	background-position: 30px 14px;
	background-repeat:  no-repeat;
}
.ui-icon-stat:hover {
	background-image: url("/res/img/hynix/newHynix/menuIcon/vector-smart-deploy.png") !important;
}
.ui-icon-cloud {
	background-image: url("/res/img/hynix/newHynix/menuIcon/vector-smart-deploy.png") !important;
	background-position: 30px 14px;
	background-repeat:  no-repeat;
}
.ui-icon-cloud:hover {
	background-image: url("/res/img/hynix/newHynix/menuIcon/vector-smart-deploy.png") !important;
	background-position: 30px 14px;
	background-repeat:  no-repeat;
}


.ui-icon-approval {
	background-image: url("/res/img/hynix/newHynix/menuIcon/vector-smart-approval.png") !important;
	background-position: 30px 14px;
	background-repeat:  no-repeat;
}

.ui-icon-approval:hover {
	background-image: url("/res/img/hynix/newHynix/menuIcon/vector-smart-approval.png") !important;
}

.ui-icon-monitor {
	background-image: url("/res/img/hynix/newHynix/menuIcon/vector-smart-monitor.png") !important;
	background-position: 30px 14px;
	background-repeat:  no-repeat;
}

.ui-icon-monitor:hover {
	background-image: url("/res/img/hynix/newHynix/menuIcon/vector-smart-monitor.png") !important;
}


.ui-icon-noti {
	background-image: url("/res/img/hynix/newHynix/menuIcon/vector-smart-board.png") !important;
	background-position: 30px 14px;
	background-repeat:  no-repeat;
}

.ui-icon-noti:hover {
	background-image: url("/res/img/hynix/newHynix/menuIcon/vector-smart-board.png") !important;
}


.ui-icon-systemmng {
	background-image: url("/res/img/hynix/img_system.png") !important;
	background-position: 30px 14px;
	background-repeat:  no-repeat;
}

.ui-icon-systemmng:hover {
	background-image: url("/res/img/hynix/img_system_ov.png") !important;
}


#total_search_form {
    display: inline-block;
    width: 100%;
    position: static;
}

.search-result-popup label.highlight {
	background-color: #3a66cb;
}
.menuOnOff{
    background-color: #dddddd;
    position: fixed;
    z-index: 10;
    left: 250px;
    top: 85px;
    opacity: 0.8;
    cursor: pointer;
}
.menuOnOff:hover{
    opacity: 1.8;
}
.ClickTarget{
	cursor: pointer;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: ">";
    font-weight: 800;
}
#topbar {
    background: #3c404a;
    height: 50px;
}
#topbar .topbar-ci {
    background: #24282d;
}

.nav-side-menu .menu-logo{
	padding: 20px;
    position: fixed;
    width: 256px;
    background: #2e3339;
    z-index: 50;
    text-align: center;
    border-bottom: 1px solid #545c65;
}
.nav-side-menu .menu-logo img {
    cursor: pointer;
}
.nav-side-menu .menu-list {
    margin-top: 90px;
    margin-bottom: 60px;
}
.userInfoDetail{
	width: 200px;
    height: 180px;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    right: -5px;
    box-shadow: 3px 4px 9px #818181;
    font-size: 16px;
    text-align: center;
    color: #24282d;
    line-height: 22px;
    display: none;
    z-index: 1000;
}
.userTaskDetail{
	width: 400px;
    height: 230px;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    right: -105px;
    box-shadow: 3px 4px 9px #818181;
    font-size: 16px;
    text-align: center;
    color: #24282d;
    line-height: 22px;
    display: none;
    z-index: 1000;
}
.taskHeader {
	width: 100%;
    height: 50px;
    background-color: #edeef3;
    font-size: 13px;
    text-align: left;
}
.taskTitle{
	display: inline-block;
    float: left;
    padding-top: 15px;
    padding-left: 20px;
}
.taskContents {
    text-align: left;
    padding: 9px;
    font-size: 14px;
    height: 180px;
    overflow: auto;
}
.taskContents .taskList:before{
    content : '-';
    padding-right: 9px;
}
.taskClose{
    background-image: url(/res/img/hynix/rect3.png);
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
    display: inline-block;
}
.userInfo div{
	font-weight: bold;
}
.logout_btn {
    margin-top: 15px;
    width: 150px;
    height: 30px;
    background-color: #fb6c07;
    color: white;
    display: inline-block;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    padding-top: 6px;
}
a.tree-toggle{
	display:inline-block;
}
.panel .btn_group {
    display: inline-block;
    margin-left: 10px;
    width: 100%;
    clear: both;
    text-align: center;
    margin-top: 30px;
}
.menuOnAndOff{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 11px;
    right: 10px;
    border-radius: 15px;
    background-color: #3a4148;
    cursor: pointer;
    background-image: url(/res/img/hynix/newHynix/menuIcon/shape-561.png);
    background-repeat: no-repeat;
    background-position-x: 9px;
    background-position-y: 6px;
}
.topArea {
	height: 80px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}
#topArea {
    width: 1280px;
    margin: 0 auto;
    height: 80px;
    position: relative;
}

.showMenu {
    display: block !important;
}

.left_hide {
    width: 28px;
    height: 28px;
    background-image: url(/res/img/hynix/hide.png);
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}

.left_show {
    width: 28px;
    height: 28px;
    position: absolute;
    display: inline-block;
    left: 0px;
    z-index: 500;
    top: 170px;
    background-image: url(/res/img/hynix/show.png);
    background-position: center;
    background-size: 28px;
}
.allMenu {
    width: 1250px;
    min-height: 470px;
    height: auto;
    margin: auto;
    background-color: white;
    position: relative;
    top: -50px;
    border: 1px solid #d2d4d9;
}

.allMenuHeader {
    height: 50px;
    background-color: #e60724;
}
.allMenuHeader .title {
    display: inline-block;
    font-size: 14px;
    color: white;
    font-weight: 900;
    padding: 15px;
}
.allMenuHeader .close:before {
    content: url(/res/img/hynix/rect1.png);
}
.close {
    opacity: 1;
}
.close:focus, .close:hover {
    opacity: 1;
}

.allMenuContents {
    min-height: 420px;
    height: auto;
    padding-left: 30px;
}

.allMenuContentsDeptOne {
    width: 180px;
    min-height: 300px;
    height: auto;
    display: inline-block;
    margin-right: 50px;
    padding-top: 30px;
    vertical-align: top;
}

.allMenuContentsDeptOneTitle {
    border-bottom: 2px solid #757984;
    padding: 5px;
    font-size: 16px;
    font-weight: 900;
    color: #3c404a;
    margin-bottom: 10px;
}

.allMenuContentsDeptTwoTitle a {
    font-size: 14px;
    color: #a4a7a9;
}
.allMenuContentsDeptTwoTitle a:hover {
    font-size: 14px;
    color: #757984;
}
.allMenuContentsDeptTwoTitle a:hover {
    font-size: 14px;
    color: #3c404a;
    font-style: normal;
    text-decoration: none;
}
.carousel-caption h3{
    font-size: 34px;
    font-weight: 900;
    text-align: left;
}
.carousel-caption div{
	text-align: left;
}